<!DOCTYPE HTML>
<!--
  Typify by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>Yelp business recommendations</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]>
    <script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/static/assets/css/main.css"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ie9.css"/><![endif]-->
    <style>
        #bizInput {
            display: inline;
            width: auto;
        }

        #bizOutputTable {
            margin-left: auto;
            margin-right: auto;
        }

        .axis--x path {
            display: none;
        }

        .line {
            fill: none;
            stroke: steelblue;
            stroke-width: 1.5px;
        }

        table th {
          text-align: center;
        }


    </style>
</head>
<body>


<!-- Banner -->
<section id="banner">
    <h2><strong>{{business_name}}</strong> {{city}}, {{state}}</h2>

</section>



<section id='analysis' class='wrapper special'>


          <h1>Summary Stats</h1>
          <div class="table-wrapper">
            <table class="alt">
              <thead>
                <tr>
                  <th>Total Checkins</th>
                  <th>Average Star Rating</th>
                  <th>Total Reviews</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{checkins}}</td>
                  <td>{{avg_stars}}</td>
                  <td>{{review_count}}</td>
                </tr>

              </tbody>
            </table>
          </div>



    <h2>Average review over time</h2>
    <p> Caption goes here</p>

<div>
<h3 id='rating_avg_load'>Loading</h3>
<canvas id="rating_avg" width="700" height="500"></canvas>
</div>

<div>
    <h2>Total reviews over time</h2>
    <p> Caption goes here</p>
<h3 id='rating_count_load' font-size="60">Loading</h3>
<canvas id="rating_count" width="700" height="500"></canvas>
</div>


<div>
    <h2>Checkins by day</h2>
    <p> Caption goes here</p>
<h3 id='checkins_day_load' font-size="60">Loading</h3>
<canvas id="checkins_day" width="700" height="500"></canvas>
</div>

<div>
    <h2>Checkins by hour</h2>
    <p> Caption goes here</p>
<h3 id='checkins_hour_load' font-size="60">Loading</h3>
<canvas id="checkins_hour" width="700" height="500"></canvas>
</div>


<h2>Wordcloud</h2>
<h3 id='top_words_load' font-size="60">Loading</h3>
<svg id='top_words' width="960" height="500"></svg>


<h2>Top "Useful" reviews</h2>
<div class="table-wrapper">
  <table class="alt">
    <thead>
      <tr>
        <th>Review</th>
        <th>Stars</th>
        <th>Usefulness</th>
      </tr>
    </thead>
    <tbody>
      {% for review in reviews %}
      <tr>
        <td>{{review.text}}</td>
        <td>{{review.stars}}</td>
        <td>{{review.usefulness}}</td>
      </tr>
    {% endfor %}

    </tbody>
  </table>
</div>


<div>
    <h2>Review Overlap</h2>
    <p> Caption goes here</p>
<h3 id='overlap_load' font-size="60">Loading</h3>
<canvas id="overlap" width="700" height="500"></canvas>
</div>


<h2>Wordcloud</h2>
<div>
<p>Good words</p>
<h3 id='good_words_load' font-size="60">Loading</h3>
<svg id='good_words' width="960" height="500"></svg>
<h4>Bad Words</h4>
<p>Caption</p>
<h3 id='bad_words_load' font-size="60">Loading</h3>
<svg id='bad_words' width="960" height="500"></svg>
</div>

    
    <strong><a href='/static/index.html'>Search for another business</a></strong>
</section>





<style>
    body {
        font-family:"Lucida Grande","Droid Sans",Arial,Helvetica,sans-serif;
    }
    .legend {
        border: 1px solid #555555;
        border-radius: 5px 5px 5px 5px;
        font-size: 0.8em;
        margin: 10px;
        padding: 8px;
    }
    .bld {
        font-weight: bold;
    }
</style>



<!-- Footer -->
<footer id="footer">
    <div class="copyright">
    </div>
</footer>

<!-- Scripts -->
<!-- <script src="/static/assets/js/jquery.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/static/assets/js/skel.min.js"></script>
<script src="/static/assets/js/util.js"></script>
<!--[if lte IE 8]>
<script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/static/assets/js/main.js"></script>

<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="/static/d3.layout.cloud.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>


</body>



<script>
$(document).ready(function(){


      $.ajax({
          type: 'GET',
          url: '/analysis/review_count/{{business_id}}',
          dataType: 'json',
          success: function(result){
            
                var data = {
                    labels: result['date'],
                    datasets: [
                        {
                            label: "Total reviews",
                            borderWidth: 2,
                            fill: false,
                            lineTension: 0.3,
                            pointRadius: 0,
                            borderColor: "#6699CC",
                            data: result['review_count'],

                        }
                    ]
                };

              var ctx = document.getElementById("rating_count");

                var myBarChart = new Chart(ctx, {
                type: 'line',
                data: data,
                options: {
                  responsive: false
                    }
                      });

                ctx.style.display = 'inline-block';

                d3.select("#rating_count_load").remove();
              }});



      $.ajax({
          type: 'GET',
          url: '/analysis/review_avg/{{business_id}}',
          dataType: 'json',
          success: function(result){
            
                var data = {
                    labels: result['date'],
                    datasets: [
                        {
                            label: "Average Rating",
                            borderWidth: 2,
                            fill: false,
                            lineTension: 0.3,
                            pointRadius: 0,
                            borderColor: "#6699CC",
                            data: result['avg_rating'],

                        }
                    ]
                };

              var ctx = document.getElementById("rating_avg");
              var myBarChart = new Chart(ctx, {
                type: 'line',
                data: data,
                options: {
                  responsive: false
                    }
                      });

               ctx.style.display = 'inline-block';

                d3.select("#rating_avg_load").remove();
              }});



      $.ajax({
          type: 'GET',
          url: '/analysis/checkins/{{business_id}}',
          dataType: 'json',
          success: function(result){
            
                var day_data = {
                    labels: result['day']['day'],
                    datasets: [
                        {
                            label: "Checkins",
                            borderWidth: 2,
                            borderColor: "#6699CC",
                            data: result['day']['checkins'],

                        }
                    ]
                };

                var hour_data = {
                    labels: result['hour']['hour'],
                    datasets: [
                        {
                            label: "Checkins",
                            borderWidth: 2,
                            borderColor: "#6699CC",
                            data: result['hour']['checkins'],

                        }
                    ]
                };

              var ctx_hour = document.getElementById("checkins_hour");
              var ctx_day = document.getElementById("checkins_day");
              
              var checkinsDayChart = new Chart(ctx_day, {
                type: 'bar',
                data: day_data,
                options: {
                  responsive: false
                    }
                      });

              var checkinsDayChart = new Chart(ctx_hour, {
                type: 'bar',
                data: hour_data,
                options: {
                  responsive: false
                    }
                      });

               ctx_day.style.display = 'inline-block';
               ctx_hour.style.display = 'inline-block';

                d3.select("#checkins_day_load").remove();

                d3.select("#checkins_hour_load").remove();

              }});



      $.ajax({
          type: 'GET',
          url: '/analysis/top_words/{{business_id}}',
          dataType: 'json',
          success: function(result) {
            

              var color = d3.scale.linear()
                      .domain([0,1,2,3,4,5,6,10,15,20,100])
                      .range(["#ddd", "#ccc", "#bbb", "#aaa", "#999", "#888", "#777", "#666", "#555", "#444", "#333", "#222"]);

              d3.layout.cloud().size([800, 300])
                      .words(result)
                      .rotate(0)
                      .fontSize(function(d) { return Math.sqrt(d.frequency); })
                      .on("end", draw)
                      .start();

              function draw(words) {
                  d3.select("#top_words")
                          .attr("width", 1200)
                          .attr("height", 350)
                          .attr("class", "wordcloud")
                          .append("g")
                          // without the transform, words words would get cutoff to the left and top, they would
                          // appear outside of the SVG area
                          .attr("transform", "translate(420,200)")
                          .selectAll("text")
                          .data(words)
                          .enter().append("text")
                          .style("font-size", function(d) { return d.frequency + "px"; })
                          .style("fill", function(d, i) { return color(i); })
                          .attr("transform", function(d) {
                              return "translate(" + [d.x*2, d.y*2] + ")rotate(" + d.rotate + ")";
                          })
                          .text(function(d) { return d.word; });
              }

                d3.select("#top_words_load").remove();

               }});

    
      $.ajax({
          type: 'GET',
          url: '/analysis/bayes/{{business_id}}',
          dataType: 'json',
          success: function(result) {
            


              var g_color = d3.scale.linear()
                      .domain([0,1,2,3,4,5,10,20,30,50,100])
                      .range(["#bbdfb6", "#a8c8a3", "#95b291", "#829c7f", "#70856d", "#5d6f5b", "#4a5948", "#384236", "#252c24", "#121612"]);

              d3.layout.cloud().size([800, 300])
                      .words(result['good'])
                      .rotate(0)
                      .fontSize(function(d) { return Math.sqrt(d.frequency); })
                      .on("end", draw_g)
                      .start();

              function draw_g(g_words) {
                  d3.select("#good_words")
                          .attr("width", 1200)
                          .attr("height", 350)
                          .attr("class", "wordcloud")
                          .append("g")
                          // without the transform, words words would get cutoff to the left and top, they would
                          // appear outside of the SVG area
                          .attr("transform", "translate(420,200)")
                          .selectAll("text")
                          .data(g_words)
                          .enter().append("text")
                          .style("font-size", function(d) { return d.frequency + "px"; })
                          .style("fill", function(d, i) { return g_color(i); })
                          .attr("transform", function(d) {
                              return "translate(" + [d.x*2, d.y*2] + ")rotate(" + d.rotate + ")";
                          })
                          .text(function(d) { return d.word; });
              }

              var b_color = d3.scale.linear()
                      .domain([0,1,2,3,4,5,10,20,30,50,100])
                      .range(["#ec9f9f", "#d48f8f", "#bc7f7f", "#a56f6f", "#8d5f5f", "#764f4f", "#5e3f3f", "#462f2f", "#2f1f1f", "#170f0f"]);

              d3.layout.cloud().size([800, 300])
                      .words(result['bad'])
                      .rotate(0)
                      .fontSize(function(d) { return Math.sqrt(d.frequency); })
                      .on("end", b_draw)
                      .start();

              function b_draw(b_words) {
                  d3.select("#bad_words")
                          .attr("width", 1200)
                          .attr("height", 350)
                          .attr("class", "wordcloud")
                          .append("g")
                          // without the transform, words words would get cutoff to the left and top, they would
                          // appear outside of the SVG area
                          .attr("transform", "translate(420,200)")
                          .selectAll("text")
                          .data(b_words)
                          .enter().append("text")
                          .style("font-size", function(d) { return d.frequency + "px"; })
                          .style("fill", function(d, i) { return b_color(i); })
                          .attr("transform", function(d) {
                              return "translate(" + [d.x*2, d.y*2] + ")rotate(" + d.rotate + ")";
                          })
                          .text(function(d) { return d.word; });
              }


                d3.select("#good_words_load").remove();
                d3.select("#bad_words_load").remove();

               }});



          $.ajax({
          type: 'GET',
          url: '/analysis/overlap/{{business_id}}',
          dataType: 'json',
          success: function(result){
            
                var data = {
                    labels: result['name'],
                    datasets: [
                        {
                            label: "Good Reviews",
                            backgroundColor: "rgba(179,181,198,0.2)",
                            borderColor: "rgba(179,181,198,1)",
                            pointBackgroundColor: "rgba(179,181,198,1)",
                            pointBorderColor: "#fff",
                            pointHoverBackgroundColor: "#fff",
                            pointHoverBorderColor: "rgba(179,181,198,1)",
                            borderWidth: 2,
                            data: result['good_reviews'],

                        },
                        {
                            label: "Bad Reviews",
                            borderWidth: 2,
                            backgroundColor: "rgba(255,99,132,0.2)",
                            borderColor: "rgba(255,99,132,1)",
                            pointBackgroundColor: "rgba(255,99,132,1)",
                            pointBorderColor: "#fff",
                            pointHoverBackgroundColor: "#fff",
                            pointHoverBorderColor: "rgba(255,99,132,1)",
                            data: result['bad_reviews'],

                        }
                    ]
                };


              var ctx = document.getElementById("overlap");
              
              var overlapChart = new Chart(ctx, {
                type: 'radar',
                data: data,
                options: {
                  responsive: false
                    }
                      });

               ctx.style.display = 'inline-block';


                d3.select("#overlap_load").remove();

              }});

            
  });


</script>



</html>
